.btn-pos {
  background-color: red;
  opacity: 0.3;
}

.btn-pos:hover {
  opacity: 1;
}

h1 span {
  color: #e76f51;
}

header {
  height: 100vh;
  width: 100%;
  background-color: #264653;
}

nav ul a{
  color: white !important;
}
